body {
    font-family: 'Arial', sans-serif;
    position: relative;
    margin: 0;
    padding: 0;
    min-height: 100vh;
    color: white; /* Цвет текста для контраста */
    overflow-x: hidden;
}

/* Фон с волком */
body::before {
    content: "";
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background: url('./wolf.jpg') no-repeat center center;
    background-size: cover; /* Волк покрывает весь экран */
    opacity: 1; /* Четкость волка (меньше прозрачности) */
    z-index: -2; /* За всеми элементами */
    filter: brightness(0.2); /* Слегка осветляем волка для контраста */
}

header {
    padding-top: 10px;
    margin-bottom: 30px;
}

/*-----------header --------*/
.day {
    font-size: 40px;
}

.month {
    font-size: 20px;
    line-height: 1;
}

/*------common-------*/
a:hover {
    color: #fff; /* Текст становится белым */
    text-shadow: 0 0 10px #ff4d4d; /* Подсвечиваем текст */
    transform: scale(1.1);
    transition: all 0.3s ease;
}
.button-info {
    background: rgba(0, 0, 0, 0.36);
    border-radius: 10px;
    color: white;
}

.button-reg {
    background: #b08e52;
    border-radius: 15px;
    color: white;
    animation: scaleUp 1.5s infinite;
}

.button-reg:hover {
    border-color: #ff4d4d; /* Подсвечиваем границу красным */
    color: #ff4d4d; /* Текст становится красным */
    background: none;
    transform: scale(1.05); /* Увеличение */
    box-shadow: 0 4px 10px rgba(255, 255, 255, 0.3); /* Тень */
    font-weight: 700;
    transition: all 0.3s ease;
}

.bold {
    color: #ff4d4d;
    animation: glow 1.5s infinite;
}

.g-10 {
    gap: 10px;
}

.opacity-6 {
    opacity: 0.6;
}

/*---------------promo------------------*/
.image-container {
    position: relative;
    width: 100%;
}

.order {
    display: block;
    margin: 50px auto 0;
    height: 60vh;
    overflow: hidden;
    width: 75%;
    position: relative;
}

.block {
    position: absolute;
    bottom: 0; /* Расположить блок внизу изображения */
    left: 50%;
    transform: translateX(-50%);
    width: 90%; /* Ширина блока относительно изображения */
    background-color: rgba(125, 121, 121, 0.77); /* Затемнение фона для читаемости */
    color: white;
    padding: 10px;
    border-radius: 5px;
    margin: 0 auto;
}

/*-----------Footer-------------*/
.footer {
    padding: 10px 0;
    font-size: 20px;
    margin-top: 30px;
    background: gray;
    width: 100%;
}

/*--------- Стиль для фона модального окна -------------*/
.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    right: 0;
    bottom: 0;
    background: #ffffff; /* Белый фон */
    display: flex;
    justify-content: center;
    align-items: center;
    opacity: 0;
    pointer-events: none;
    animation: fadeIn 0.5s forwards;
}


/* Модальное окно */
.modal-content {
    position: relative;
    max-width: 600px;
    width: 90%;
    background: white;
    border-radius: 10px;
    padding: 20px;
    transform: translateY(-50px);
    animation: slideIn 0.5s forwards;
}

/* Анимация появления модального окна */
@keyframes slideIn {
    to {
        transform: translateY(0);
    }
}

/* Кнопка закрытия, позиционированная справа */
.modal-header {
    display: flex;
    justify-content: space-between;
    align-items: center;
}

.btn-close {
    border: none;
    background: transparent;
    font-size: 1.5rem;
    color: #000;
    cursor: pointer;
    padding: 0;
}

input {
    margin-bottom: 10px;
}

/* Адаптивность */
@media (max-width: 5000px) {
    .title {
        text-align: center;
    }
    .subtitle {
        margin: 20px auto 0;
        text-align: center;
        max-width: 95%;
        font-size: 24px;
        line-height: 1.4;
    }
    .button {
        padding: 10px 20px;
    }
    .button-info {
        margin-top: 10px;
        max-width: 95%;
        font-size: 26px;
    }
    .button-reg {
        font-size: 26px;
        width: 60%;
        margin: 20px auto 0;
    }
    .order {
        margin-top: 20px;
        height: 80vh;
        width: 60%;
    }
    .block {
        width: 55%;
        margin-bottom: 25px;
    }
    .card-text {
        line-height: 1.2;
        font-size: 30px;
    }

}
@media (max-width: 1200px) {
    .order {
        height: 85vh;
        width: 85%;
    }
    .block {
        width: 80%;
    }
    .card-text {
        line-height: 1.2;
        font-size: 30px;
    }
}
@media (max-width: 992px) {
    .subtitle {
        font-size: 22px;
    }
    .button-info {
        font-size: 24px;
    }
    .button-reg {
        font-size: 24px;
    }
    .order {
        height: 85vh;
        width: 100%;
    }
    .block {
        width: 100%;
    }
    .card-text {
        font-size: 26px;
    }
    .bold {
    }
}

@media (max-width: 768px) {
    .subtitle {
        max-width: 95%;
        font-size: 20px;
        line-height: 1.5;
    }
    .button-info {
        font-size: 20px;
    }
    .button-reg {
        font-size: 20px;
        width: 50%;
    }
    .order {
        height: 80vh;
    }
    .card-text {
        font-size: 24px;
    }
    .modal-content {
        width: 100%;
        height: 100%;
        border-radius: 0;
        padding: 20px 15px;
    }

    .modal-overlay {
        opacity: 1;
        pointer-events: all;
    }
}
@media (max-width: 576px) {
    .order {
        height: 65vh;
    }
    .block {
        width: 90%;
    }
    .card-text {
        line-height: 1.1;
        font-size: 22px;
    }
}






/*-------------- Таймер ------------------------*/
.countdown {
    padding: 0 10px 10px;
    display: flex;
    gap: 20px;
    justify-content: center;
    align-items: center;
}

.time {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    background: rgba(255, 255, 255, 0.1);
    padding: 20px;
    border-radius: 10px;
    box-shadow: 0 4px 10px rgba(0, 0, 0, 10);
    width: 100px;
    height: 120px;
}

.time span {
    display: block;
    text-align: center;
}

#hours, #minutes, #seconds {
    font-size: 2.5rem;
    font-weight: bold;
    color: white;
}

.label {
    margin-top: 5px;
    font-size: 1rem;
    color: white;
}


/*---------АНИМАЦИИ------------- */
/* Анимация сияния */
@keyframes glow {
    0% {
        text-shadow: 0 0 3px rgba(255, 0, 0, 0.6), 0 0 7px rgba(255, 0, 0, 0.4);
    }
    50% {
        text-shadow: 0 0 8px rgba(255, 0, 0, 0.8), 0 0 12px rgba(255, 0, 0, 0.8);
    }
    100% {
        text-shadow: 0 0 3px rgba(255, 0, 0, 0.6), 0 0 7px rgba(255, 0, 0, 0.4);
    }
}

/* Анимация пульса */
@keyframes scaleUp {
    0%, 100% {
        transform: scale(1);
    }
    50% {
        transform: scale(1.05);
    }
}

/* Анимация появления фона */
@keyframes fadeIn {
    to {
        opacity: 1;
        pointer-events: all;
    }
}
